[package]
name = "app"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1.32.0", features = ["full"] }
fred = { git = "https://github.com/aembke/fred.rs.git", branch = "main" }
